*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    background-color: aliceblue;
    position: relative;
}
.mainback{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 140vh;
    gap: 25px;
    border-left: 2px solid red;
    border-right: 2px solid red;
}
.main{
    background-color: rgb(255, 227, 227);
}
.maincontent{
    width: 100%;
    background-color: rgba(242, 245, 255, 0.605);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.top{
    width: 100%;
    padding: 3% 0;
    box-sizing: border-box;
    background-color: rgba(3, 25, 74, 0.895);
    position: relative;
}
.innercontent{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.reach, .numberdata{
    width: 50%;
}
.reach{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    align-items: start;
}
.reach h1{
    margin-top: 8%;
    font-size: 3.2em;
}
.reach p{
    font-size: 0.8em;
    width: 35%;
    line-height: 20px;
    font-weight: 100;
}
.reach button{
    font-size: 0.8em;
    width: 20%; 
    height: 38px;
    border: none;
    border-radius: 4px;
}
.numberdata{
    display: flex;
    justify-content: center;
    align-items: center;
}
.numberdatagrid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 15px;
}
.numberdatagrid h1{
    font-size: 1.4em;
}
.common1{
    width: 90%;
    height: 140px;
    border-radius: 15px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
    padding: 25px ;
    box-sizing: border-box;
}
.common1 p{
    width: 59%;
    line-height: 25px;
    font-weight: 100;
}
.common2{
    width: 60%;
    padding: 10% 0;
    height: 150px;
    background-color: white;
    color: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 15px;
    justify-content: center;
    gap: 15px;
    box-sizing: border-box;
}
.common2 p{
    width: 50%;
    line-height: 25px;
    font-weight: 100;
}
nav{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,50%);
    width: 70%;
    height: 46px;
    border-radius: 46px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bottom{
    width: 100%;    
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.bottomcards{
    width: 90%;
    display: none;
    justify-content: space-between;
    align-items: center;
}
.bottomcard{
    width: 32%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.74);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 8px;
}
.bottomcard h1{
    font-size: 1.5em;
}
.bottomcard p{
    font-size: 1em;
}
.bottomcontent{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.bottomcontent h1{
    text-align: center;
    width: 25%;
}
.bottomcontent p{
    text-align: center;
    width: 85%;
    font-size: 14px;
    font-weight: 100;
    color: rgb(91, 89, 89);
}
.bottomdivision{
    width: 90%;
    height: 55%;
    display: flex;
    justify-content: space-around;
}
.corporate{
    width: 48.5%;
    height: 280px;
    display: flex;
    justify-content: space-between; 
    background-color: rgba(255, 255, 255, 0.595);
}
.advertise{
    width: 48.5%;
    height: 280px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.595);
}
.left{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
}
.right{
    width: 22%;
    height: 100%;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.left p{
    font-size: 0.8em;
    margin-top: 2%;
    font-weight: 100;
    color: rgb(91, 89, 89);
    line-height: 22px;
}
.left button{
    padding: 2%;
    background-color: rgb(3, 103, 61);
    border: none;
    width: 170px;
    color: white;
    border-radius: 4px;
}
@media screen and (min-width:768px) and (max-width:1200px){
    .mainback{
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        border-left: none;
        border-right: none;
    }
    .top{
        margin-top: 6%;
    }
    .reach{
        width: 100%;
        height: 100%;
    }
    .reach h1{
        width: 75%;
    }
    .numberdata{
        display: none;
    }
    nav{
        width: 90%;
    }
    .bottom{
        padding: 10% 0;
    }
    .bottomcontent h1{
        text-align: center;
        width: 50%;
    }
    .left{
        width: 100%;
    }
    .right{
        display: none;
    }
    .bottomcards{
        display: flex;
    }
}
@media screen and (min-width:350px) and (max-width:767.9px){
    .mainback{
        width: 100%;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        border-left: none;
        border-right: none;
    }
    .top{
        margin-top: 50%;
        padding-bottom: 10%;
    }
    .reach{
        width: 100%;
        height: 100%;
    }
    .reach h1{
        width: 80%;
        font-size: 1.6em;
    }
    .reach p{
        width: 80%;
    }
    .numberdata{
        display: none;
    }
    nav{
        width: 100%;
        border-radius: 0;
    }
    .bottom{
        padding: 10% 0;
    }
    .bottomcontent h1{
        text-align: center;
        width: 80%;
        margin: 3% 0;
    }
    .bottomdivision{
        flex-direction: column;
        gap: 20px;
    }
    .corporate, .advertise{
        width: 100%;
        justify-content: start;
        height: auto;
    }
    .left{
        width: 100%;
    }
    .right{
        display: none;
    }
    .bottomcards{
        display: flex;
    }
    .bottomcard{
        width: 45%;
    }
    .noshow{
        display: none;
    }
}